<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>asynchronous API call</title>
  </head>
  <body>

<h1>async APi call, load the page first  then APi data</h1>

<%- tableData %>


  </body>
</html>
