<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>dropdown page</title>
</head>

<body>

  <form method="POST" action="/">
      <select name="Courses" id="Courses">
          <option value="Java">Java</option>
          <option value="Angular">Angular</option>
          <option value="Automation">Automation</option>
      </select>
      <input type='submit'name ='register'>
  </form>

</body>

</html>
