<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
 <meta charset="utf-8">
 <title> profile page</title>
  <link rel="stylesheet" href="css/styles2.css">
  <link rel="stylesheet" href="css/styles3.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="homepart">
    <h1 class="h1class">Player profile</h1>



    <h3>  <%- playerProf %></h3>





  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="jquery.js" charset="utf-8"></script> -->


</body>

</html>
